<h2>Edit post <%= @post.id %></h2>

<%= form_for(@post) do |f| %>
	
	<%= f.label :name %>
	<%= f.text_field :name %>

	<%= f.label :body %>
	<%= f.text_field :body %>

	<%= f.submit "Save changes" %>

<% end %>