<h2>New post</h2>
<%= form_tag("/posts", method: "post") do %>
	<%= label_tag(:name, "Name:") %>
	<%= text_field_tag(:name) %>
	<%= label_tag(:body, "Body:") %>
	<%= text_field_tag(:body) %>
	<%= submit_tag("Create Post") %>
<% end %>
